<div class="row" ng-controller="DashboardCtrl"> 
	<div class="col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon orange pull-left">
					<i class="fa fa-users"></i>
				</div>
				<div class="title">Howdy,</div>
				<div class="comment">{{firebaseUser.displayName}}</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon green pull-left">
					<i class="fa fa-calendar"></i>
				</div>
				<div class="title">{{events.length}}</div>
				<div class="comment">Total Events</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6 col-md-6 col-xs-12">
		<rd-widget>
			<rd-widget-body>
				<div class="widget-icon red pull-left">
					<i class="fa fa-clock-o"></i>
				</div>
				<div class="title">{{dateTime | date:'hh:mm:ss a'}}</div>
				<div class="comment">{{dateTime | date:'yyyy-MM-dd'}}</div>
			</rd-widget-body>
		</rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<rd-widget>
      		<rd-widget-header icon="fa-tasks" title="Latest event created">
      		</rd-widget-header>
      		<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Event Name</th>
								<th>Date created</th>
								<th>Deadline</th>
							</tr>
						</thead>
						<tbody ng-controller="EventsCtrl">
							<tr ng-repeat="event in events">
								<td>{{event.title}}</td>
								<td>{{event.createDate | date}}</td>
								<td>{{event.deadline | date}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>
	</div>
	<div class="col-lg-6">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Events that you participated">
				<input type="text" placeholder="Search" class="form-control input-sm" />
			</rd-widget-header>
			<rd-widget-body classes="medium no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody>
						<thead>
							<tr><th class="text-center">ID</th><th>Username</th><th>Role</th><th>Account</th></tr>
						</thead>						
							<tr><td class="text-center">1</td><td>Joe Bloggs</td><td>Super Admin</td><td>AZ23045</td></tr>
							<tr><td class="text-center">2</td><td>Timothy Hernandez</td><td>Admin</td><td>AU24783</td></tr>
							<tr><td class="text-center">3</td><td>Joe Bickham</td><td>User</td><td>AM23781</td></tr>

						</tbody>
					</table>
        		</div>
			</rd-widget-body>
		<rd-widget>
	</div>
</div>
