<div ng-controller="debugNotiCtrl">
  <div class="row">
    <div class="col-xs-12">
      <rd-widget>
        <rd-widget-body>
          <div class="widget-icon orange pull-left">
            <i class="fa fa-exclamation-triangle"></i>
          </div>
          <div class="title">Debug Mode</div>
          <div class="comment">Send notification to me.</div>
          <button type="button" class="btn btn-default btn-sm" ng-click="send()">Send!</button>
        </rd-widget-body>
      </rd-widget>
    </div>
  </div>
