<div class="row" ng-controller="AccessControlCtrl">
	<div class="col-lg-12" ng-if="isEventAdmin && listAsked.length!=0">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Event Join Request">
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>email</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="i in listAsked">
								<td>{{i.$id | emailByUID}}</td>
								<td> <button type="button" class="btn btn-default btn-sm" ng-click="acceptRequest(i.$id)">Accept</button> <br /> <button type="button" class="btn btn-danger btn-sm" ng-click="rejectRequest(i.$id)">Reject</button></td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
			<rd-widget>
	</div>
</div>

<div class="row" ng-controller="EventsCtrl">
	<div class="col-lg-7">
		<a ui-sref="edit_event({ eventID: eventID })" ng-if="isEventAdmin">Edit event</a>
		<rd-widget>
			<rd-widget-header icon="fa-tasks" title="Announcement">
				<!-- <a href="#">Manage</a> -->
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody ng-controller="ChatroomCtrl">
							<tr data-ng-repeat="p in posts.slice().reverse()">
								<td>{{p.from | emailByUID}}</td>
								<td>{{p.msg}}</td>
								<td>{{p.timestamp | date:'short'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>

		<br>
		<span ng-controller="ChatroomCtrl">
			<form ng-submit="sendMessage()">
				<input id="message-box" type="text" class="form-control message-input-box" placeholder="Type your message here" ng-model = "message">
			</form>
		</span>

	</div>

	<div class="col-lg-5" ng-controller="TeamCtrl">
		<rd-widget>
			<rd-widget-header icon="fa-users" title="Teams">
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Team</th>
								<th>teamSize</th>
								<th>Admin</th>
								<th>Action</th>
							</tr>
						</thead>
						<script type="text/ng-template" id="tpl.html">
						  <div ng-repeat = "uid in t.member"><a href = "/profile/{{uid}}"><img ng-src="{{uid | profilePicByUID}}" height = "30" width = "30"> {{uid | emailByUID}}</a></div>
						</script>
						<tbody>
							<tr ng-repeat="t in teams">
								<td class="text-center"  popover-trigger="mouseenter" uib-popover-template="'tpl.html'" popover-placement="top" popover-append-to-body="true"><a href = "#">{{t.$id}}</a> </td>
								<td>{{t.teamSize}}</td>
								<td>{{t.leaderId | emailByUID}}</td>
								<td> <button type="button" class="btn btn-default btn-sm" ng-click="join(t)" ng-if="noTeam && t.teamSize>t.member.length">join</button> </td>
							</tr>
							<tr ng-if="!teams.length">
								<td>No Teams found.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
			<div align="right">
				<a ui-sref="new_team({ eventID: eventID })" ng-if="noTeam">Create Team (+) </a>
			</div>
			<!-- <input type="text" placeholder="Search" class="form-control input-sm" /> -->
			<rd-widget>
	</div>
</div>
