<div class="row">

	<div class="col-lg-8">
		<rd-widget class="event-announcement">
			<rd-widget-header icon="fa-tasks" title="Announcement">
				<!-- <a href="#">Manage</a> -->
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table">
						<tbody ng-controller="ChatroomCtrl">
							<tr data-ng-repeat="p in posts.slice().reverse()">
								<td>{{p.from}}</td>
								<td>{{p.msg}}</td>
								<td>{{p.timestamp | date:'medium'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
		</rd-widget>

		<form ng-controller="ChatroomCtrl" ng-submit="sendMessage()">
			<input id="message-box" type="text" class="form-control message-input-box" placeholder="Type your message here" ng-model = "message">
		</form>

	</div>

	<div class="col-lg-4">
		<rd-widget class="event-teams">
			<rd-widget-header icon="fa-users" title="Teams">
				<!-- <input type="text" placeholder="Search" class="form-control input-sm" /> -->
			</rd-widget-header>
			<rd-widget-body classes="large no-padding">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th class="text-center">Team</th>
								<th>Username</th>
								<th>Role</th>
								<!-- <th>Account</th> -->
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="text-center">1</td>
								<td>Joe Bloggs</td>
								<td>Super Admin</td>
								<!-- <td>AZ23045</td> -->
							</tr>
							<tr>
								<td class="text-center">1</td>
								<td>Timothy Hernandez</td>
								<td>Admin</td>
								<!-- <td>AU24783</td> -->
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
							<tr>
								<td class="text-center">2</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
							<tr>
								<td class="text-center">3</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
							<tr>
								<td class="text-center">3</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
							<tr>
								<td class="text-center">3</td>
								<td>Joe Bickham</td>
								<td>User</td>
								<!-- <td>AM23781</td> -->
							</tr>
						</tbody>
					</table>
				</div>
			</rd-widget-body>
			<rd-widget>
	</div>

</div>