.sidebar {
  padding-bottom: 50px !important;
}

// Change the input field color when user's input is valid/invalid
input.ng-invalid.ng-touched {
  background-color: #FA787E;
  color: white;
  &::placeholder {
  	color: #f4f4f4;
  }
}
input.ng-valid.ng-touched {
  background-color: #e6fff2;
}

.scrollView{
  height: 400px;
  overflow: auto;
}

.row.header .user>.item img {
	border-radius: 50%;
}

.sidebar-search-event {
	width: 60%;
	margin-left: 20px;
}

.alert {
	line-height: 18px;
}