<!DOCTYPE html>
<html lang="en" ng-app="teamform">

<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Teamform</title>
  <link rel="manifest" href="/manifest.json">
</head>

<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">

      <ul class="sidebar" ng-if="!auth.$getAuth()">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Teamform
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Please sign in first</span></li>
      </ul>

      <ul class="sidebar" ng-if="auth.$getAuth()" ng-controller="EventsCtrl">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Teamform
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>

        <li class="sidebar-list">
          <a href="/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>

        <li class="sidebar-title"><span>Events</span></li>
        <!-- Search bar for event -->
        <li>
          <div class="form-group">
            <input class="form-control sidebar-search-event" ng-model="searchEventName" placeholder="Search event...">
          </div>
        </li>

        <div class="scrollView">
          <li class="sidebar-list" ng-repeat="e in events | filter: {title : searchEventName}">
            <a ui-sref="event({ eventID: e.$id })">{{e.title}}</a>
          </li>
        </div>

        <li class="sidebar-title"><span>Event Management</span></li>

        <li class="sidebar-list">
          <a href="/event/new">Create Event
            <span class="menu-icon glyphicon glyphicon-plus"></span>
          </a>
        </li>

        <li class="sidebar-list">
          <a href="/match">Skill Matching
            <span class="menu-icon glyphicon glyphicon-plus"></span>
          </a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="https://github.com/kriswme2/teamform-seed" target="_blank">
            <i style="margin-right: 5px" class="fa fa-github"></i>Github
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://github.com/kriswme2/teamform-seed/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header">
          <div class="col-xs-12" ng-controller="AuthCtrl">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown ng-if="auth.$getAuth()">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img ng-controller="UserCtrl" ng-src="{{uid | profilePicByUID}}">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{firebaseUser.displayName}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="/">
                      Dashboard
                    </a>
                  </li>
                  <li class="link">
                    <a href="/profile">
                      Profile
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ng-click="auth.$signOut()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown ng-controller="NotificationCtrl" ng-if="auth.$getAuth()" on-toggle="toggled(open)">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o notifications-bell-{{notifications.new | bellSwitch}}"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li ng-repeat="n in notifications.box">
                    <a href="#">{{n.msg}} from {{n.from}}</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Teamform
              </div>
<!--               <div class="breadcrumb-links">
                {{$state.this}}
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div>
      <!-- End Page Content -->
    </div>
    <!-- End Content Wrapper -->
  </div>
  <!-- End Page Wrapper -->

  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <link rel="stylesheet" type="text/css" href="components/ng-tags-input/ng-tags-input.min.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="css/teamform.min.css">

  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="components/ng-tags-input/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="components/firebase/firebase.js"></script>
  <script type="text/javascript" src="components/angularfire/dist/angularfire.min.js"></script>
  <script type="text/javascript" src="components/firebase/firebase.js"></script>
  <script type="text/javascript" src="components/angularfire/dist/angularfire.min.js"></script>
  <script type="text/javascript" src="components/ng-file-upload-shim/ng-file-upload-shim.min.js"></script>
  <script type="text/javascript" src="components/ng-file-upload-shim/ng-file-upload.min.js"></script>
  <script type="text/javascript" src="components/es5-shim/es5-shim.min.js"></script>
  <!-- endbuild -->

  <script>
    if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('/firebase-messaging-sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }).catch(function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  }
  </script>
  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</body>

</html>
