<!doctype html>
<html lang="en" ng-app="teamform">
<head>
  <base href="/">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Teamform</title>
</head>
<body ng-controller="MasterCtrl">
  <div id="page-wrapper" ng-class="{'open': toggle}" ng-cloak>

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
      <ul class="sidebar" ng-if="!auth.$getAuth()">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Teamform
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>Please sign in first</span></li>
      </ul>
      <ul class="sidebar" ng-if="auth.$getAuth()">
        <li class="sidebar-main">
          <a ng-click="toggleSidebar()">
            Teamform
            <span class="menu-icon glyphicon glyphicon-transfer"></span>
          </a>
        </li>
        <li class="sidebar-title"><span>NAVIGATION</span></li>
        <li class="sidebar-list">
          <a href="/">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
        </li>
        <li class="sidebar-list">
          <a href="/tables">Tables <span class="menu-icon fa fa-table"></span></a>
        </li>
      </ul>
      <div class="sidebar-footer">
        <div class="col-xs-6">
          <a href="https://github.com/kriswme2/teamform-seed" target="_blank">
            <i style="margin-right: 5px" class="fa fa-github"></i>Github
          </a>
        </div>
        <div class="col-xs-6">
          <a href="https://github.com/kriswme2/teamform-seed/blob/master/README.md" target="_blank">
            About
          </a>
        </div>
      </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
      <div class="page-content">

        <!-- Header Bar -->
        <div class="row header" ng-controller="AuthCtrl">
          <div class="col-xs-12">
            <div class="user pull-right">
              <div class="item dropdown" uib-dropdown ng-if="auth.$getAuth()">
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <img src="img/avatar.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    {{firebaseUser.displayName}}
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a href="/profile">
                      Profile
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="link">
                    <a href="#">
                      Menu Item
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li class="link">
                    <a ng-click="auth.$signOut()">
                      Logout
                    </a>
                  </li>
                </ul>
              </div>
              <div class="item dropdown" uib-dropdown>
               <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                  <i class="fa fa-bell-o"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header">
                    Notifications
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="#">Server Down!</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="meta">
              <div class="page">
                Teamform
              </div>
<!--               <div class="breadcrumb-links">
                {{$state.this}}
              </div> -->
            </div>
          </div>
        </div>
        <!-- End Header Bar -->

        <!-- Main Content -->
        <div ui-view></div>

      </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
  </div><!-- End Page Wrapper -->

  <!-- STYLES -->
  <!-- build:css lib/css/main.min.css -->
  <link rel="stylesheet" type="text/css" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="components/rdash-ui/dist/css/rdash.min.css">
  <!-- endbuild -->
  <link rel="stylesheet" href="css/teamform.min.css">

  <!-- SCRIPTS -->
  <!-- build:js lib/js/main.min.js -->
  <script type="text/javascript" src="components/angular/angular.min.js"></script>
  <script type="text/javascript" src="components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>
  <script type="text/javascript" src="components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <!-- endbuild -->

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>
  <!-- AngularFire -->
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>
  <script>
  // Initialize Firebase
  var config = {
  apiKey: "AIzaSyBKPa_aZAr7C23kkYli_wPPSH069aYLRIM",
  authDomain: "lab-firebase-aefba.firebaseapp.com",
  databaseURL: "https://lab-firebase-aefba.firebaseio.com",
  storageBucket: "lab-firebase-aefba.appspot.com",
  messagingSenderId: "470761339277"
  };
  firebase.initializeApp(config);
  </script>

  <!-- Custom Scripts -->
  <script type="text/javascript" src="js/dashboard.min.js"></script>
</body>
</html>
